<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aowin.dao.UserMapper">
	<select id="checkUser" parameterType="com.aowin.model.User" resultType="String">
	 select password from bicycle_user where username=#{username}
	</select>
	
	<select id="authId" parameterType="com.aowin.model.User" resultType="int">
	 select auth_id from bicycle_user where username=#{username}
	</select>

</mapper>
